.typeCompte {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 4em;
    padding-top: 20em;
}

.typeCompte a {
    background-color: rgb(204, 157, 243);
    padding: 1em;
    cursor: pointer;
}