.bouton {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
    background-color: rgb(207, 155, 231);
    color: #000000;
    cursor: pointer;
    align-items: center;
}

.boutons-actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    /* espace entre les boutons */
    margin-top: 1rem;
}

.boutonSupp,
.boutonModi {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.boutonSupp {
    background-color: #dc3545;
    color: white;
}

.boutonModi {
    background-color: #2ff360;
    color: white;
}

.message {
    margin-bottom: 0.4rem;
    padding: 8px;
    border-radius: 5px;
}

.message.info {
    background-color: #e0f3ff;
    color: #0077b6;
    margin-bottom: 0.4rem;
}