.main-header-wrapper {
  width: 100%;
  background: rgb(207, 155, 231);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.main-entete {
  max-width: 1200px;
  margin: 0 auto;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.main-navigation_entete-nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo-style {
  height: 36px;
  width: auto;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.soumission-lien {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}


.main-header-container {
  width: 100%;
  display: flex;
  justify-content: center;
}





main {
  margin-top: 5rem;
}

@media (min-width: 768px) {
  .main-entete {
    justify-content: space-between;
  }
}

.main-navigation_titre {
  color: white;
}





@media (min-width: 768px) {
  .main-navigation_entete-nav {
    display: block;
  }
}