.navi-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navi-links li {
  margin: 0;
}

.navi-links a {
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
  transition: 0.3s;
  border-radius: 4px;
}

.navi-links a:hover,
.navi-links a:active,
.navi-links a.active {
  background: rgba(255, 255, 255, 0.2);
  color: white;
}

.main-navigation_entete-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  padding: 0 370px;
}

@media (min-width: 768px) {
  .navi-links {
    flex-direction: row;
  }

  .navi-links li {
    margin: 0 1.4rem;
  }

  .navi-links a {
    color: white;
    text-decoration: none;
  }
}